.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manual-or-scripting-button {
    margin-left: 25px;
    padding: 7px;
    color: #fafafa;
    text-decoration: none;
    border: 1px solid #222C37;
    border-radius: 10px;
    background-color: #222C37;
}