.code-block {
    margin: 15px 0px;
    padding: 25px;
    background-color: rgb(37, 37, 37);
    color: #d4d1d1;
    line-height: 1.5;
    letter-spacing: 1px;
    overflow: auto;
    border-radius: 8px;
}

.code-block b {
    color: rgb(196, 122, 38)
}