.nav-bar {
    width: 100%;
    margin: 0;
    padding: 0px 10px;
    background-color: #222C37;
    border-radius: 5px;
}

.navbar-links {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
}

.navbar-links ul {
    list-style-type: none;
    padding-left: 0;
}

.navbar-links li {
    display: inline-block;
}

.navbar-links li a {
    background-color: #222C37;
    padding: 9px 16px;
    color: #fafafa;
    font-size: large;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: .5s;
}

.navbar-links li a:hover {
    color: #222C37;
    background-color: #fafafa;
}

#active-nav-link a {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

#active-nav-link a:hover {
    text-decoration-color: #222C37;
}