::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #222C37;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #223850;
}

::-webkit-scrollbar-thumb:active {
    background: #222C37;
}